.btn {
    padding: 8px 16px;
    margin: 0 16px;
    border-radius: 4px;
    background: #000;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.4s linear;
    cursor: pointer;

    &:hover {
        background-color: darkblue;
    }
}

// placeholder selector
// %btn {
//     padding: 8px 16px;
//     margin: 0 16px;
//     border-radius: 4px;
//     background: #000;
//     color: #fff;
//     outline: none;
//     border: none;
//     transition: all 0.4s linear;
//     cursor: pointer;

//     &:hover {
//         background-color: darkblue;
//     }
// }

.btn-primary {
    @extend .btn;
}

.btn-secondary {
    @extend .btn;
    background-color: orangered;
}

.btn-success {
    @extend .btn;
    background: green;
}

.btn-warning {
    @extend .btn;
    background-color: gold;
}

.btn-info {
    @extend .btn;
    background-color: cornflowerblue;
}

.btn-danger {
    @extend .btn;
    background-color: red;
}