// @import './base/variables';
// @import './base/mixins';
// @import './base/reset';
// @import './base/common';

@use './base/variables';
@use './base/mixins';
@use './base/reset';
@use './base/common';

@import './components/header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    background: #ccc;
    padding: 12px;
    @include mixins.grid(5, 12px);

    @include mixins.screen(mobile) {
        @include mixins.grid(1);
    }

    @include mixins.screen(tablet) {
        @include mixins.grid(3)
    }

    .item {
        background-color: olivedrab;
        padding: 32px 0;
        color: #fff;
    }
}