@mixin grid($column: 4, $spacing: 12px) {
    display: flex;
    flex-wrap: wrap;
    --column: #{$column};
    --spacing: #{$spacing};

    >* {
        width: calc(100%/var(--column) - var(--spacing));
        margin-right: var(--spacing);
        margin-top: var(--spacing);

        &:hover>* {
            transform: scale(1.1, 0);
            background-color: cornflowerblue;
        }
    }
}

@mixin move($direction: top-left) {
    position: absolute;

    @if $direction ==top-left {
        top: 0;
        left: 0;
    }

    @if $direction ==top-right {
        top: 0;
        right: 0;
    }

    @if $direction ==bottom-left {
        bottom: 0;
        left: 0;
    }

    @if $direction ==bottom-right {
        bottom: 0;
        right: 0;
    }

    @if $direction ==center {
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
}

@mixin screen($device) {
    @if $device ==tablet {
        @media (min-width: 576px) and (max-width: 991px) {
            @content;
        }
    }

    @if $device ==mobile {
        @media (max-width: 575px) {
            @content;
        }
    }
}