/* Reset CSS*/
@import './variables';

* {
    /*Emmet*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

// common
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mar16-0 {
    margin: 16px 0;
}

.pad8-16 {
    padding: 8px 16px;
}

.text-center {
    text-align: center !important;
}

.text-white {
    color: $white-color !important;
}

.btn {
    cursor: pointer;
}

.font-15 {
    font-size: 15px !important;
}

.position-fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.trans-400ms {
    transition: all 0.4s linear;
}

.hover-ccc:hover {
    background-color: #ccc !important;
    color: $black-color !important;
}

.col-half {
    width: 50%;
}

.btn-buy,
#header,
.quantity,
.tour-section,
.btn-send {
    background-color: $black-color;
}

.subnav,
.modal-container,
.place-item,
.tickets-list {
    background-color: $white-color;
}

input {
    width: 100%;
    padding: 10px 8px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
    border-radius: 2px;
}

// main

#header {
    height: 46px;
    padding: 8px 0;
    bottom: auto;
    justify-content: space-between;
    z-index: 100;

    ul {
        list-style: none;

        &.nav {
            height: 100%;
            line-height: 46px;
            align-items: center;

            li,
            i {
                position: relative;

                &:hover .subnav {
                    display: block;
                }
            }
        }

        &.subnav {
            width: 160px;
            position: absolute;
            display: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    }

    a {
        padding: 0px 24px;
        text-decoration: none;
        font-size: $primary-fsize;
        text-transform: uppercase;
        display: block;
        transition: all 0.4s linear;
        color: $white-color;
    }

    .subnav a {
        text-transform: none;
        padding: 0 16px;
        color: $black-color;
    }

    i.fa-magnifying-glass {
        padding: 0px 24px;
        cursor: pointer;
        line-height: 46px;
        display: block;

        &:hover {
            background-color: red;
        }
    }

    .nav>li:hover>a,
    .subnav li:hover a {
        background-color: #ccc;
        color: $black-color;
    }

    .nav>li:hover>a>i {
        color: $black-color;
    }
}

#slider {
    margin-top: 46px;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        vertical-align: middle;
    }

    .text-content {
        width: 100vw;
        position: absolute;
        bottom: 40px;

        h2 {
            font-weight: 600;
        }

        p {
            margin-top: 16px;
        }
    }
}

.content-section {
    width: 800px;
    padding: 64px 16px 112px;
    margin: 0 auto;
    text-align: justify;

    .section-heading {
        letter-spacing: 4px;
        font-size: 30px;
    }

    .section-slogan {
        font-style: italic;
        opacity: 0.6;
    }

    .member-item {
        width: 20%;
        margin: 0 32px;

        .member-avatar {
            border-radius: 12px;
            width: 100%;
        }
    }
}

/*Tour section*/
.tickets-list {
    text-align: left;
    list-style: none;
    margin-top: 40px;
    color: #000;

    li {
        border-bottom: 1px solid #ddd;
        color: #757575;
    }

    .sold-out {
        background-color: #f44336;
        margin-left: 16px;
        padding: 4px 3px;
    }

    .quantity {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        float: right;
    }
}

.places-list {
    margin-top: 32px;
    padding-bottom: 48px;
    justify-content: space-between;

    .place-item {
        width: 32%;
        color: $black-color;

        .place-img {
            width: 100%;
            position: relative;

            &:hover {
                opacity: 0.4;
            }
        }

        .place-body {
            padding: 0 16px;

            .place-heading {
                font-weight: 800;
            }

            .place-time {
                opacity: 0.6;
            }

            .btn-buy {
                margin-bottom: 16px;
                border: none;
            }

        }

    }
}

/*about*/
.col-half {
    p {
        margin: 10px 0;
        font-size: 17px;

        i {
            margin-right: 12px;
        }
    }

    .btn-send {
        float: right;
        border: none;
        margin-top: 10px;
        padding: 12px 14px;
        font-size: 16px;
    }
}

#footer {
    padding: 64px 0;

    a {
        text-decoration: none;
        font-size: 22px;
        color: #757575;
        margin-right: 4px;

        &:hover {
            opacity: 0.6;
        }
    }

    p {
        color: #757575;

        a {
            text-decoration: underline;
        }
    }
}

/*modal*/
.modal {
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

    &-container {
        width: 54%;
        min-height: 200px;
        position: relative;
    }

    &-close {
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            background: #ccc;
            color: $black-color;
        }
    }

    &-header {
        background: $green-color;
        padding: 32px 16px;
        font-size: 32px;

        i {
            margin-right: 4px;
        }
    }

    &-body {
        padding: 12px 20px;
    }

    &-label {
        font-size: 16px;
        display: block;
        margin: 10px 0;

        i,
        .fa-check {
            margin-right: 4px;
        }
    }

    .buy-tickets {
        background-color: $green-color;
        width: 100%;
        border: none;
        padding: 16px;
        cursor: pointer;
    }

    &-help {
        text-align: right;
        margin: 0 16px 32px;

        >a {
            color: #2196f3;
        }
    }
}